################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/opencv/.vs/opencv/FileContentIndex
/opencv/.vs/SysMl/FileContentIndex/5cf2c1a6-cd90-4995-970d-1811a9ac4293.vsidx
/opencv/.vs/SysMl/FileContentIndex/49ddc5cd-a7c9-46d2-b3be-132bf45fa762.vsidx
/opencv/.vs/SysMl/FileContentIndex/6329d2df-f9f6-44f4-bf9a-4f3acd5995c9.vsidx
